<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title>Berkshire PHAB Demo Page</title>
  <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script>
    function DropDown() {
      var x = document.getElementById("topnav");
      if (x.className === "nav") {
        x.className += " responsive";
      } else {
        x.className = "nav";
      }
    }
  </script>
  <style>
  .Box {
    background-color: rgba(255, 255, 255, 1);
    padding: 25px;
    border: 2px solid red;
    border-radius: 10px;
  }
  .long-image-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 10px;
    position: relative;
  }
  .imagetext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
  }
  .formbutt{
    margin-top: 0px;
    position: relative;
    max-width: 100%;

  }
  .formbutt a {
    text-decoration: none;
    background-color: white;
    color: #DA291C;
    border: 1px, solid: #DA291C;
    border-radius: 4px;
    font-size: 1.75vw;
    font-weight: bold;
    padding: 10px;
    width: 20%;
  }
  .formbutt a:hover{
    color: white;
    background-color: red;
  }

</style>

</head>

<body>
  <div class="background">
    <div class="grid-container">
      <div class="nav" id="topnav">
        <img class="img" src="assets/images/berkshirephablogo.gif" alt="logo" onclick="DropDown()">
        <div class="butts">
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="DropDown()">&#9776;</a>
          <a href="#Home" class="active">HOME</a>
          <a href="#About Us">ABOUT US</a>
          <a href="#Support Us">CONTACT US</a>
          <a href="#Join Us">JOIN US</a>
        </div>
      </div>
      <div class="main">
        <div class="container">
          <div class="title">
            <h1>Volunteering</h1>
          </div>
          <div class="body">
            <br>
            <!-- Edit Below Here -->
            <div class="long-image-card">
              <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/15380768_1204989309551007_3134540006420050_n.jpg?_nc_cat=0&oh=03568f374eb6abebe320ec288ad110ce&oe=5B9B6301" style="width: 100%; height: auto;" />
              <div class = "imagetext">
              <b><h2 style=font-size:1.5vw;>If you are interested in volunteering with us:</h2></b>
              <div class="formbutt">
                <a href="this is a test.docx" download> COMPLETE THIS FORM</a></div><br><br>
              <div class="formbutt">
                <a href="mailto:ronald.larkoh@berkshirephab.org">EMAIL US THE FORM</a></div>
            </div>
            </div>
            <div class="image-card" style="float: right; margin: 5px;">
              <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/14500634_1134154803301125_4125088856966329629_o.jpg?_nc_cat=0&oh=310a2714981068d0341d63ec550f1baf&oe=5B87F76C" style="width: 100%; height: auto;" />
            </div>
            <h3><b><u>Why Volunteer?</b></u></h3>
            <p>words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words</p>
            <h3><b><u>Your Responsibilities:</b></u></h3>
            <p>words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words</p>
            <div class="image-card" style="float: left; margin: 5px;">
              <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/25358350_1558302917552976_8723076416511899722_o.jpg?_nc_cat=0&oh=a40d2e7b6456cd0ca639d65e8b09d45c&oe=5B95F4F3" style="width: 100%; height: auto;" />
            </div>
            <h3><b><u>Opportunities and timings:</b></u></h3>
            <p>words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words</p>
            <br>
            <!-- Edit Above Here -->
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-content">
          <div class="email">
            Email:<br><a href="mailto:info@berkshirephab.org">info@berkshirephab.org</a>
          </div>

          <div class="social">
            <a class="social-image" href="https://www.facebook.com/BerkshirePhab"><i class="fab fa-facebook-square"></i><a>
                        <a class="social-image" href="https://twitter.com/phab_charity"><i class="fab fa-twitter-square"></i>
                        </a>
          </div>

          <div class="phone">
            Phone Number:<br><a href="tel:0118 916 8412">0118 916 8412</a>&ensp;/&ensp;<a href="tel:0118 916 8413">0118 916 8413</a>
          </div>
          <div class="mobile">
            <a href="mailto:info@berkshirephab.org"><i class="fas fa-envelope-square"></i></a>
            <a href="https://www.facebook.com/BerkshirePhab"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/phab_charity"><i class="fab fa-twitter-square"></i></a>
            <a href="tel:0118 916 8412"><i class="fas fa-phone-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
